@import "tailwindcss";

/* POLICES SYSTEMES */
@font-face {
    font-family: 'Bodoni72';
    src: local('Bodoni 72'), local('Bodoni72'), local('Bodoni 72 Book'), local('Bodoni MT'), local('Didot');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica'), local('Arial'), local('Liberation Sans'), local('sans-serif');
    font-style: normal;
    font-weight: normal;
}

/* Variables CSS pour les polices */
:root {
    --font-title: 'Bodoni72', 'Bodoni 72', 'Bodoni MT', 'Didot', serif;
    --font-body: 'Helvetica', 'Arial', 'Liberation Sans', 'sans-serif';
}

/* Classes utilitaires */
.font-title {
    font-family: var(--font-title);
}
.font-body {
    font-family: var(--font-body);
}

body {
    background: #fff;
    color: #171717;
    font-family: var(--font-body);
}
